<div id="<%= dom_id booking %>">
  <p>
    <strong>Name:</strong>
    <%= booking.experience.name %>
  </p>

   <p>
    <strong>Description:</strong>
    <%= booking.experience.description %>
  </p>

   <p>
    <strong>Price:</strong>
    <%= booking.experience.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.experience.user.email %>
  </p>

  <p>
    <strong>Your booking date:</strong>
    <%= booking.booking_date %>
  </p>

</div>
