<h1> This is your booking! </h2>

<%= render @booking %>

<%# #if booking status is not marked as completed %>
<div>
  <% if @booking.status == "Pending"%>
    <%= link_to "Edit your booking", edit_experience_booking_path(@experience, @booking) if policy(@booking).edit? %>
    <% if policy(@booking).status? %>
      <%= form_with url: [@experience, @booking], method: :patch do |form| %>
        <%= form.text_field :comment, placeholder: "Add a comment", name: "booking[comment]" %>
        <%= form.submit "Confirm the booking", class: "btn btn-primary", name: "booking[status]", value: "Confirmed" %>
      <% end %>
    <% end %>
      <% if policy(@booking).status? %>
      <%= form_with url: [@experience, @booking], method: :patch do |form| %>
        <%= form.text_field :comment, placeholder: "Add a comment", name: "booking[comment]" %>
        <%= form.submit "Reject the booking", class: "btn btn-primary", name: "booking[status]", value: "Rejected" %>
      <% end %>
    <% end %>
    <%= link_to "View other experiences", experiences_path %>
    <%= link_to "Cancel your booking", experience_booking_destroy_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@booking).destroy? %>
  <% elsif @booking.status == "Confirmed" %>
    <%= link_to "View other experiences", experiences_path %>
    <%= button_to "Request for cancellation", [@experience, @booking], params: {booking: {comment: "Cancellations Requested"}}, method: :patch if policy(@booking).edit? %>
    <%= button_to "Approve cancellation", [@experience, @booking], params: {booking: {status: "Cancelled"}}, method: :patch if policy(@booking).status? if @booking.comment == "Cancellations Requested"%>
  <% elsif @booking.status == "Rejected" %>
    <%= link_to "View other experiences", experiences_path %>
  <% elsif @booking.status == "Cancelled" %>
    <%= link_to "View other experiences", experiences_path %>
  <% end %>
</div>

<%# if its marked as completed %>
    <%# link to leave a review for the experience %>
    <%# link to book other experiences %>
    <%# link to edit a review if review is not null %>
