<div id="<%= dom_id experience %>">
  <p>
    <strong>Name:</strong>
    <%= experience.name %>
  </p>

   <p>
    <strong>Description:</strong>
    <%= experience.description %>
  </p>

   <p>
    <strong>Price:</strong>
    <%= experience.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= experience.user.email %>
  </p>

</div>
