<p style="color: green"><%= notice %></p>

<%= render @experience %>

<% @experience.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<div>
  <% if policy(@experience).edit? %>
    <%= link_to "Edit this experience", edit_experience_path(@experience) %>
  <% end %>
  <%= link_to "Back to experiences", experiences_path %>
  <%= button_to "Destroy this experience", @experience, method: :delete if policy(@experience).destroy? %>
</div>

<h1>New booking</h1>
<%= simple_form_for [@experience, @booking] do |f| %>
  <%= f.input :booking_date %>
  <%= f.input :number_of_pax %>
  <%= f.submit "Submit booking", class: "btn btn-primary" %>
<% end %>
